---
import Layout from '../layouts/Layout.astro';
import { Page } from "../scripts/page_handler"

import { NASA_API } from '../scripts/NASA_API';
import { formatDate } from '../scripts/utils';

const TODAY_DATE = new Date(Date.now())
const TODAY_DATE_FORM = formatDate(TODAY_DATE)
---

<Layout currentPage={Page.APOD}>
	<nav>
		<p id="state">{NASA_API.shared.getRequestString()}</p>
		<input type="date" id="input_date" min="1995-06-16" value={TODAY_DATE_FORM} max={TODAY_DATE_FORM}>
		<button id="button_load">Load image</button>
		<button id="button_load_random">Load Random image</button>
	</nav>

	<article>
		<img id="image" class="loading" src="" alt="To start using the API press on the buttons at the top ^">
        <p id="title"></p>
        <p id="explanation"></p>
        <p id="copyright"></p>
	</article>
</Layout>

<style>
	nav {
		margin: .5em 1em .8em 1em;
		height: 2.2em;

		display: flex;
		align-items: stretch;
		justify-content: flex-end;
		flex-wrap: nowrap;
		gap: .5rem;
	}
	
	nav > p {
		/* Import style from button */
		padding: 0.3em .5em;

		font-size: var(--text-primary);
		color: var(--fg-text-primary);
		background-color: var(--bg-body-secondary);

		border: .1em solid var(--fg-primary);
		border-radius: 1rem;
	}

    nav > p.depleted {
		border: .1em solid var(--tint-error-border);
        background-color: var(--tint-error-thin);
    }

    article {
        position: relative;
    }

	img {
        position: relative;
		display: inline-block;

        max-width: calc(100% - 2em);
        max-height: calc(100vh - (2em) - (.5em + 2.2em + .8em) - 2em);

        margin: 0 1em;

		border: .1em solid var(--fg-primary);
		border-radius: 1em;
        
        left: calc(50% - .5em);
        transform: translateX(calc(-50% - .5em));

		object-fit: contain;
	}

	img.error {
		max-width: calc(100% - 4em);
		padding: 1em;

		border: .1em solid var(--tint-error-border);
        background-color: var(--tint-error-thin);
	}

	img.loading {
		max-width: calc(100% - 4em);
		padding: 1em;

		border: .1em solid var(--tint-loading-border);
        background-color: var(--tint-loading-thin);

		animation-name: breathe;
		animation-duration: 2.5s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate-reverse;
	}

    article > p {
        margin: 1em 1em;
    }
    article > p > b {
        font-weight: bold;
    }

	@keyframes breathe {
		0% {
    		border: .1em solid var(--tint-loading-border);
			/* filter: grayscale(.5); */
		}

		50% {
    		border: .1em solid var(--fg-text-primary);
			/* filter: grayscale(1); */
		}

		100% {
    		border: .1em solid var(--tint-loading-thin);
			/* filter: grayscale(1); */
		}
	}
</style>

<script src="../scripts/APOD.ts"></script>
<script defer>
    const EL_BUTTON_LOAD = document.getElementById("button_load");
    const EL_BUTTON_LOAD_RANDOM = document.getElementById("button_load_random");
    const EL_INPUT_DATE = document.getElementById("input_date");
    const EL_REQUEST_STATE_P = document.getElementById("state");

    const EL_IMAGE = document.getElementById("image");
    EL_IMAGE.onload = () => {
        EL_IMAGE.classList.remove("loading")
    }
</script>