---
enum Page {
    HOME = "Home",
    APOD = "APOD",
    MRP  = "MRP"
}
interface Props {
    highlightPage?: Page
}

const { highlightPage } = Astro.props
---
<nav>
	<h1>Wallpaper finder <code>&#60;3</code></h1>

	<div class="page-links">
		<a href="/">Home</a>
		<a href="/APOD">APOD</a>
		<a href="/MRP">MRP</a>
	</div>
</nav>

<script defer define:vars={{ highlightPage }}>
    const EL_PAGE_LINKS_WRAPPER = document.querySelector("div.page-links") 
    if(highlightPage == undefined) return;

    const EL_PAGE_LINKS = EL_PAGE_LINKS_WRAPPER.children;
    for(let i = 0; i < EL_PAGE_LINKS.length; i++) {
        const EL_LINK = EL_PAGE_LINKS.item(i);
        if(EL_LINK == null) continue;

        if(EL_LINK.innerText == highlightPage) {
            EL_LINK.outerHTML = `<p>${highlightPage}</p>`
        }
    }
</script>

<style>
	nav {
		position: sticky;

        height: 2em;
		padding: .5em 1em;

		top: 0;
		left: 0;

		background-color: var(--bg-body-tertiary);
		
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: .3em;

        /* Always the solution */
        z-index: 9999;
	}
	@media (max-width: 500px) {
		nav {
			flex-direction: column;
		}
	}

	nav > h1 {
		margin: 0;
		white-space: nowrap;
	}

	nav > div.page-links {

		display: flex;
		align-self: center;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

    nav > div.page-linnks > p {
        text-decoration: none;
        color: var(--fg-body-primary);
    }
</style>