---
import "../styles/palette.css"
import "../styles/common.css"
import "../styles/calligraphy.css"

import Navbar from "../components/Navbar.astro"

enum Page {
    HOME = "Home",
    APOD = "APOD",
    MRP = "MRP"
}
interface Props {
    currentPage: Page
}

const { currentPage } = Astro.props

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>Wallpaper finder</title>
	</head>
	<body>
		<Navbar highlightPage={currentPage} />
		<slot />
	</body>
</html>
